## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [2]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [3]:
auto=pd.read_csv('Automobile.csv')

**Check the head of the DataFrame.**

SyntaxError: invalid syntax (<ipython-input-37-55ab7fa944c4>, line 1)

**How many rows and columns are there?**

In [6]:
auto.shape

(201, 26)

**What is the average Price of all cars in the dataset?**

In [8]:
auto['price'].mean()

13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [14]:
auto[auto['price']==auto['price'].min()]['make']

134    subaru
Name: make, dtype: object

In [15]:
auto[auto['price']==auto['price'].max()]['make']

71    mercedes-benz
Name: make, dtype: object

**How many cars have horsepower greater than 100?**

In [19]:
auto[auto['horsepower']>100]['make'].count()

90

**How many hatchback cars are in the dataset ?**

In [23]:
auto[auto['body_style']=='hatchback']['body_style'].count()

68

**What are the 3 most commonly found cars in the dataset?**

In [25]:
auto['make'].value_counts().head(3)

toyota    32
nissan    18
mazda     17
Name: make, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [28]:
auto[auto['price']==7099]['make']

87    nissan
Name: make, dtype: object

**Which cars are priced greater than 40000?**

In [29]:
auto[auto['price']>40000]['make']

15              bmw
70    mercedes-benz
71    mercedes-benz
Name: make, dtype: object

**Which are the cars that are both a sedan and priced less than 7000?**

In [35]:
auto[(auto['price']<7000) & (auto['body_style']=='sedan')]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
19,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6575
24,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
42,0,110,isuzu,gas,std,four,sedan,rwd,front,94.3,...,111,2bbl,3.31,3.23,8.5,78,4800,24,29,6785
50,1,113,mazda,gas,std,four,sedan,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6695
82,1,125,mitsubishi,gas,std,four,sedan,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88,5000,25,32,6989
86,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,5499
88,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6649
89,1,122,nissan,gas,std,four,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6849
118,1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
152,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,30,37,6938

### The END