In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('AAPL.csv',parse_dates=["Date"],index_col="Date")

In [3]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-02-06,174.649994,175.570007,172.850006,174.240005,173.495911,28239600
2019-02-07,172.399994,173.940002,170.339996,170.940002,170.210007,31741700
2019-02-08,168.990005,170.660004,168.419998,170.410004,170.410004,23820000
2019-02-11,171.050003,171.210007,169.250000,169.429993,169.429993,20993400
2019-02-12,170.100006,171.000000,169.699997,170.889999,170.889999,22283500

In [7]:
df['2019-02']['Open'].mean()

171.82625293750002

In [13]:
df['2019-02-06':'2019-02-15']['Open'].mean()

171.192501

In [15]:
df['Open'].resample('M').mean()

Date
2019-02-28    171.826253
2019-03-31    175.145000
Freq: M, Name: Open, dtype: float64

In [16]:
df['Open'].resample('W').mean()

Date
2019-02-10    172.013331
2019-02-17    170.700003
2019-02-24    171.070004
2019-03-03    173.936005
2019-03-10    175.433334
Freq: W-SUN, Name: Open, dtype: float64

In [17]:
df=pd.read_csv('AAPLNoDate.csv')

In [23]:
ranges=pd.date_range(start='2018-02-06',end='2018-03-05',freq='B')
len(ranges)

20

In [24]:
df['Date']=ranges

In [27]:
df.set_index('Date',inplace=True)

In [30]:
df.asfreq(freq='D',method='pad')

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-02-06,174.649994,175.570007,172.850006,174.240005,173.495911,28239600
2018-02-07,172.399994,173.940002,170.339996,170.940002,170.210007,31741700
2018-02-08,168.990005,170.660004,168.419998,170.410004,170.410004,23820000
2018-02-09,171.050003,171.210007,169.250000,169.429993,169.429993,20993400
2018-02-10,171.050003,171.210007,169.250000,169.429993,169.429993,20993400
2018-02-11,171.050003,171.210007,169.250000,169.429993,169.429993,20993400
2018-02-12,170.100006,171.000000,169.699997,170.889999,170.889999,22283500
2018-02-13,171.389999,172.479996,169.919998,170.179993,170.179993,22490200
2018-02-14,169.710007,171.259995,169.380005,170.800003,170.800003,21835700
2018-02-15,171.250000,171.699997,169.750000,170.419998,170.419998,24626800
2018-02-16,169.710007,171.440002,169.490005,170.929993,170.929993,18972800
2018-02-17,169.710007,171.440002,169.490005,170.929993,170.929993,18972800
2018-02-18,169.710007,171.440002,169.490005,170.929993,170.929993,18972800
2018-02-19,171.190002,173.320007,170.990005,172.029999,172.029999,26114400
2018-02-20,171.800003,172.369995,170.300003,171.059998,171.059998,17249700
2018-02-21,171.580002,173.000000,171.380005,172.970001,172.970001,18913200
2018-02-22,174.160004,175.869995,173.949997,174.229996,174.229996,21873400
2018-02-23,173.710007,175.300003,173.169998,174.330002,174.330002,17070200
2018-02-24,173.710007,175.300003,173.169998,174.330002,174.330002,17070200
2018-02-25,173.710007,175.300003,173.169998,174.330002,174.330002,17070200
2018-02-26,173.210007,175.000000,172.729996,174.869995,174.869995,27835400
2018-02-27,174.320007,174.910004,172.919998,173.149994,173.149994,28215400
2018-02-28,174.279999,175.149994,172.889999,174.970001,174.970001,25886200
2018-03-01,175.690002,177.750000,173.970001,175.850006,175.850006,27436200
2018-03-02,175.940002,176.000000,174.539993,175.529999,175.529999,19726200
2018-03-03,175.940002,176.000000,174.539993,175.529999,175.529999,19726200
2018-03-04,175.940002,176.000000,174.539993,175.529999,175.529999,19726200
2018-03-05,174.669998,175.490005,173.940002,175.024994,175.024994,6422467

In [37]:
ranges=pd.date_range(start='2018-02-06',periods=len(df['Open']),freq='B')

In [38]:
ranges

DatetimeIndex(['2018-02-06', '2018-02-07', '2018-02-08', '2018-02-09',
               '2018-02-12', '2018-02-13', '2018-02-14', '2018-02-15',
               '2018-02-16', '2018-02-19', '2018-02-20', '2018-02-21',
               '2018-02-22', '2018-02-23', '2018-02-26', '2018-02-27',
               '2018-02-28', '2018-03-01', '2018-03-02', '2018-03-05'],
              dtype='datetime64[ns]', freq='B')

In [40]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

usb=CustomBusinessDay(calendar=USFederalHolidayCalendar())
ranges=pd.date_range(start='2018-02-06',periods=len(df['Open']),freq=usb)

In [41]:
ranges

DatetimeIndex(['2018-02-06', '2018-02-07', '2018-02-08', '2018-02-09',
               '2018-02-12', '2018-02-13', '2018-02-14', '2018-02-15',
               '2018-02-16', '2018-02-20', '2018-02-21', '2018-02-22',
               '2018-02-23', '2018-02-26', '2018-02-27', '2018-02-28',
               '2018-03-01', '2018-03-02', '2018-03-05', '2018-03-06'],
              dtype='datetime64[ns]', freq='C')

In [50]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class customizedCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday('Birth Day', month=7, day=20, observance=nearest_workday),
    ]
    
custCal = CustomBusinessDay(calendar=customizedCalendar())
ranges=pd.date_range('7/1/2019','7/30/2019',freq=custCal)

In [51]:
ranges

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-08', '2019-07-09', '2019-07-10',
               '2019-07-11', '2019-07-12', '2019-07-15', '2019-07-16',
               '2019-07-17', '2019-07-18', '2019-07-22', '2019-07-23',
               '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-29',
               '2019-07-30'],
              dtype='datetime64[ns]', freq='C')

In [53]:
arabian_weekdays = "Sun Mon Tue Wed Thu"

b = CustomBusinessDay(weekmask=arabian_weekdays)

pd.date_range(start="7/1/2019",periods=20,freq=b)

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-07', '2019-07-08', '2019-07-09', '2019-07-10',
               '2019-07-11', '2019-07-14', '2019-07-15', '2019-07-16',
               '2019-07-17', '2019-07-18', '2019-07-21', '2019-07-22',
               '2019-07-23', '2019-07-24', '2019-07-25', '2019-07-28'],
              dtype='datetime64[ns]', freq='C')