In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [9]:
uber_drives=pd.read_csv('uberdata.csv')
uber_drives.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [10]:
uber_drives.tail()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [26]:
uber_drives.describe()

           MILES*
count  652.000000
mean    11.139571
std     22.958244
min      0.500000
25%      3.200000
50%      6.400000
75%     10.400000
max    310.300000

In [27]:
uber_drives.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 652 entries, 0 to 1153
Data columns (total 7 columns):
START_DATE*    652 non-null object
END_DATE*      652 non-null object
CATEGORY*      652 non-null object
START*         652 non-null object
STOP*          652 non-null object
MILES*         652 non-null float64
PURPOSE*       652 non-null object
dtypes: float64(1), object(6)
memory usage: 40.8+ KB

In [28]:
uber_drives['PURPOSE*'].nunique()

10

In [29]:
uber_drives['PURPOSE*'].unique()

array(['Meal/Entertain', 'Errand/Supplies', 'Meeting', 'Customer Visit',
       'Temporary Site', 'Between Offices', 'Charity ($)', 'Commute',
       'Moving', 'Airport/Travel'], dtype=object)

In [19]:
uber_drives.dropna(inplace=True)

In [20]:
uber_drives.isnull().values.any()

False

In [24]:
uber_drives=uber_drives[:-1]

In [32]:
uber_drives.groupby(['PURPOSE*','CATEGORY*']).size().sort_values(ascending=False)

PURPOSE*         CATEGORY*
Meeting          Business     187
Meal/Entertain   Business     160
Errand/Supplies  Business     128
Customer Visit   Business     101
Temporary Site   Business      49
Between Offices  Business      18
Moving           Personal       4
Airport/Travel   Business       3
Commute          Personal       1
Charity ($)      Personal       1
dtype: int64