In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
from scipy import stats
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_curve, roc_auc_score, auc, accuracy_score, confusion_matrix, classification_report
from sklearn.utils import resample

df = pd.read_csv('D:\\GLALMIWorkSpace\\Projects\\Project1\\CreditRisk.csv')

In [2]:
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 67.2+ KB

In [70]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [99]:
df_copy = df.copy(deep = True)

In [100]:
df_copy['Gender'].replace('Female',0,inplace=True)
df_copy['Gender'].replace('Male',1,inplace=True)
#df_copy['Gender']=df_copy['Gender'].astype('category')

In [101]:
df_copy['Married'].replace('No',0,inplace=True)
df_copy['Married'].replace('Yes',1,inplace=True)
#df_copy['Married']=df_copy['Married'].astype('category')

In [102]:
df_copy['Dependents'].replace('3+',3,inplace=True)
df_copy['Dependents']=df_copy['Dependents'].astype('float')

In [103]:
df_copy['Self_Employed'].replace('No',0,inplace=True)
df_copy['Self_Employed'].replace('Yes',0,inplace=True)
#df_copy['Self_Employed']=df_copy['Self_Employed'].astype('category')

In [104]:
#df_copy['Credit_History']=df_copy['Credit_History'].astype('category')

In [105]:
df_copy['Gender'].fillna(df_copy['Gender'].median(), inplace = True)
df_copy['Married'].fillna(df_copy['Married'].median(), inplace = True)
df_copy['Dependents'].fillna(df_copy['Dependents'].median(), inplace = True) #/
df_copy['Self_Employed'].fillna(df_copy['Self_Employed'].median(), inplace = True)#/
df_copy['CoapplicantIncome'].fillna(df_copy['CoapplicantIncome'].mean(), inplace = True)#/
df_copy['LoanAmount'].fillna(df_copy['LoanAmount'].mean(), inplace = True)#/
df_copy['Loan_Amount_Term'].fillna(df_copy['Loan_Amount_Term'].mean(), inplace = True)#/
df_copy['Credit_History'].fillna(df_copy['Credit_History'].median(), inplace = True)#/

In [106]:
#df_copy['Gender']=df_copy['Gender'].astype('category')
#df_copy['Married']=df_copy['Married'].astype('category')
#df_copy['Self_Employed']=df_copy['Self_Employed'].astype('category')
#df_copy['Credit_History']=df_copy['Credit_History'].astype('category')
df_loanid_dropped=df_copy.drop(['Loan_ID'],axis=1)
df_cleaned = pd.get_dummies(df_loanid_dropped, drop_first=True)
df_cleaned.head()

,Gender,Married,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Education_Not Graduate,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
0,1.0,0.0,0.0,0.0,5849,0.0,146.412162,360.0,1.0,0,0,1,1
1,1.0,1.0,1.0,0.0,4583,1508.0,128.000000,360.0,1.0,0,0,0,0
2,1.0,1.0,0.0,0.0,3000,0.0,66.000000,360.0,1.0,0,0,1,1
3,1.0,1.0,0.0,0.0,2583,2358.0,120.000000,360.0,1.0,1,0,1,1
4,1.0,0.0,0.0,0.0,6000,0.0,141.000000,360.0,1.0,0,0,1,1

In [107]:
df_copy['Loan_Status'].value_counts()

Y    422
N    192
Name: Loan_Status, dtype: int64

In [108]:
X=pd.DataFrame(df_cleaned.drop(['Loan_Status_Y'],axis=1))

In [109]:
y=pd.DataFrame(df_cleaned.iloc[:,-1])

In [110]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()

In [111]:
X[['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']]=sc_X.fit_transform(X[['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']])

In [112]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2, stratify=y)

In [113]:
from imblearn.over_sampling import SMOTE

In [114]:
os=SMOTE(random_state=0)

In [115]:
columns=X_train.columns
os_data_X,os_data_y=os.fit_sample(X_train,y_train)
os_data_X=pd.DataFrame(data=os_data_X,columns=columns)
os_data_y=pd.DataFrame(data=os_data_y,columns=['y'])

D:\AnacondaPython\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [116]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(os_data_X, os_data_y)

D:\AnacondaPython\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [117]:
print("Accuracy ", classifier.score(X_test, y_test)*100)

Accuracy  79.67479674796748

In [98]:
print(classification_report(y_test,classifier.predict(X_test)))

              precision    recall  f1-score   support

           0       0.78      0.47      0.59        38
           1       0.80      0.94      0.86        85

    accuracy                           0.80       123
   macro avg       0.79      0.71      0.73       123
weighted avg       0.79      0.80      0.78       123