In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
from scipy import stats
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_curve, roc_auc_score, auc, accuracy_score, confusion_matrix, classification_report
from sklearn.utils import resample
df=pd.read_csv('C:\\Users\\nair.gangadharan\\Desktop\\adult.csv')

In [2]:
df.head()

,age,work class,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per -week,country,classification
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age                32561 non-null int64
work class         32561 non-null object
fnlwgt             32561 non-null int64
education          32561 non-null object
education-num      32561 non-null int64
marital-status     32561 non-null object
occupation         32561 non-null object
relationship       32561 non-null object
race               32561 non-null object
sex                32561 non-null object
capital-gain       32561 non-null int64
capital-loss       32561 non-null int64
hours-per -week    32561 non-null int64
country            32561 non-null object
classification     32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [17]:
df_copy=df.copy(deep=True)

In [18]:
df_copy['country'] = df['country'].replace(' ?',np.nan)

In [20]:
df_copy['work class'] = df['work class'].replace(' ?',np.nan)

In [21]:
df_copy['occupation'] = df['occupation'].replace(' ?',np.nan)

In [23]:
df_copy.isna().sum()

age                   0
work class         1836
fnlwgt                0
education             0
education-num         0
marital-status        0
occupation         1843
relationship          0
race                  0
sex                   0
capital-gain          0
capital-loss          0
hours-per -week       0
country             583
classification        0
dtype: int64

In [24]:
df_copy.shape

(32561, 15)

In [25]:
df_drop_copy=df_copy.copy(deep=True)

In [29]:
df_drop_copy=df_drop_copy.dropna()

In [30]:
df_drop_copy.shape

(30162, 15)

In [31]:
df_drop_copy['sex'] = df_drop_copy['sex'].map({' Male':1,' Female':0}).astype(int)

D:\AnacondaPython\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
salary_map={' <=50K':1,' >50K':0}
df_drop_copy['classification']=df_drop_copy['classification'].map(salary_map).astype(int)

D:\AnacondaPython\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy